@font-face {
  font-family: "hero";
  src: url("../fonts/silka-regular-webfont.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'hero';
}

body {
  width: 100vw;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: clamp(1rem, 5vw, 6rem);
}

.nav>a {
  color: rgba(255, 255, 255, 0.25);
  font-family: 'hero';
  font-size: 8rem;
  font-weight: 300;
  text-decoration: none;
  position: relative;
}

.nav>a:hover {
  color: white;
}

.nav>a>span {
  display: block;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  position: relative;
  z-index: 2;
}

.nav>a:hover>span {
  border-top-color: white;
  border-bottom-color: white;
}

#loader {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #202020;
  z-index: 100;
  justify-content: center;
  padding-top: 45%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;

  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
  font-size: 40pt;
  text-align: center;
  line-height: 110px;

  animation: slideup;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}


#logo-hero {
  width: 0;
  overflow: hidden;
  animation: slidein 1.4s ease;
  animation-fill-mode: forwards;
  color: #ededed;
}

.bracket {
  color: #988bfd;
}


.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20em;
  height: 45em;
  overflow-y: hidden;
  background-size: cover;
  background-position: bottom;
  gap: .3em;
}

#vragenlijst {
  margin-bottom: 30vh;
}

#v_text {
  font-size: 2rem;
  color: #ededed;
}

.buttons_wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5em;
}

.ja_nee_button {
  font-size: 2rem;
  color: #d0d0d0;
  width: 2em;

}

.ja_nee_button:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}


.home-container>h1 {
  background-color: rgb(45, 45, 45);
  height: 2em;
  padding-left: .4em;
  border-radius: .3em;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 8vh;


  color: rgb(27, 27, 27);
  font-size: 50pt;
  font-family: "hero";
  font-weight: 400;
}

.hero-p {
  color: #144273;
}

.buttons {
  width: 100%;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 3em;
  align-items: center;
}

.buttons button {
  height: 4em;
  width: 9rem;
  background-color: rgb(255, 255, 255, 0.02);
  border: solid rgb(255, 255, 255, 0.1) 1px;
  border-radius: .4rem;
  font-family: "hero";
  color: white;
  cursor: pointer;
}

.buttons button:hover {
  border: solid rgb(248, 248, 248) .1em;
  transition: all .45s ease;

}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

#home_button {
  position: absolute;
  top: 4vh;
  left: 2vw;
}

.file-drop-box {
  width: 300px;
  height: 200px;
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 50px auto;
}

/* Loading screen */


.loading {
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
  font-size: 40pt;
  text-align: center;
  height: 120px;
  line-height: 110px;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
  display: block;
  color: #ededed;

  transition: all .75s ease;
}


@keyframes slidein {
  from {
    width: 0;
  }

  to {
    width: 2.8em;
  }
}

@keyframes slideup {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}


/* Magic hero text */

:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {

  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

body {
  background-color: rgb(10, 10, 10);
  display: grid;
  margin: 0px;
  overflow: hidden;
}

h1 {
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
  font-size: 25pt;
  color: #ededed;
}

h2 {
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
  font-size: 12.5pt;
  color: #ededed;
}

.magic-container {
  display: flex;
  width: 100%;
  text-align: center;
}

.magic-container>h1 {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

h1>.magic {
  display: inline-block;
  position: relative;
}

h1>.magic>.magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--violet),
      var(--purple));
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

/* Home Buttons */

:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

body {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

.homepage {
  height: 98vh;
  width: 99vw;
  background-color: rgb(13, 13, 13);
  border-radius: 1em;
}

#cards {
  display: flex;
  bottom: 0;
  flex-wrap: wrap;
  gap: .01em;
  max-width: 80vw;
  width: calc(100% - 20px);

  justify-content: space-evenly;
}

#cards:hover>.card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 30vw;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%);
  z-index: 1;
}

.card>.card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

h1,
h2,
h3,
h4,


i {
  color: rgb(240, 240, 240);
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image>i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info>i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title>h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title>h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}


@media(max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: auto;
  }

  #cards {
    max-width: 80vw;
    padding: 10px 0px;
    margin-bottom: 4vh;
  }

  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media(max-width: 500px) {
  .card {
    height: 180px;
  }

  .card-image {
    height: 80px;
  }

  .card-image>i {
    font-size: 3em;
  }

  .card-info-wrapper {
    padding: 0px 10px;
  }

  .card-info>i {
    font-size: 0.8em;
  }

  .card-info-title>h3 {
    font-size: 1.2em;
  }

  .card-info-title>h4 {
    font-size: 1.1em;
    margin-top: 4px;
  }
}

@media(max-width: 320px) {
  .card {
    width: 100%;
  }
}




/* contact pagina */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: rgb(45, 45, 45);
}

.contact h2 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contact p,
a {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact a:hover {
  color: #fff;
  text-decoration: underline;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(45, 45, 45);
}

#form>input {
  width: 350%;
  height: 2rem;
  margin: 1rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  background-color: rgb(200, 198, 198);
}